<div class="palm-row multi-line dashboard-row" x-mojo-touch-feedback="delayed">
  <div class="palm-row-wrapper">
    <div class="palm-group">
      <div class="spinner" id="activity-spinner" x-mojo-element="Spinner"></div>
      <div class="palm-group-title truncating-text">#{title}</div>
      <div class="content">
        <div class="badge visits"><span class="head">#{translation.visits}</span><span class="amount"></span></div>
        <div class="badge pageview"><span class="head">#{translation.page_views}</span><span class="amount"></span></div>
        <div class="badge bounce"><span class="head">#{translation.bounce}</span><span class="amount"></span></div>
      </div>
      </div>
    </div>
  </div>
</div>