<div class="palm-group">
  
  <div class="palm-group-title">#{nums.page}</div>
  
  <div class="palm-list">
    
    <div class="palm-row first">
      <div class="palm-row-wrapper" id="chart">
        <img src="#{image}" id="chart-image" />
      </div>
    </div>
    
    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div class="label number">#{nums.visits}</div>
        <div class="title">#{translation.visits}</div>
      </div>
    </div>
    
    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div class="label number">#{nums.visitors}</div>
        <div class="title">#{translation.uniquevisitors}</div>
      </div>
    </div>
    
    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div class="label number">#{nums.pageviews}</div>
        <div class="title">#{translation.pageviews}</div>
      </div>
    </div>
    
    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div class="label number">#{nums.avgpageviews}</div>
        <div class="title">#{translation.avgpageviews}</div>
      </div>
    </div>
    
    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div class="label number">#{nums.bounceRate}</div>
        <div class="title">#{translation.bouncerate}</div>
      </div>
    </div>
    
    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div class="label number">#{nums.avgtimeonsite}</div>
        <div class="title">#{translation.avgtimeonpage}</div>
      </div>
    </div>
    
    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div class="label number">#{nums.newvisits}</div>
        <div class="title">#{translation.newvisits}</div>
      </div>
    </div>
    
  </div>
</div>