<div class="fade-bottom" x-mojo-scroll-fade="bottom"></div>
<div id="view_header" class="palm-header left">
  <div id="period_source" class="header-period-source">
    <div id="current_period" class="header-period-selector"></div>
    <div class="header-period-source-hit-target"></div>
  </div>    
  <div id="title" class="header-title truncating-text"></div>
</div>

<div id="empty_spacer"></div>

<div class="palm-group">
  <div class="palm-group-title truncating-text" id="event-action-title"></div>
  <div class="palm-row first chart">
    <div class="palm-row-wrapper event-chart" id="event-action-chart"></div>
  </div>
  <div id="event-action-list" x-mojo-element="FilterList" class="cs-list browser-list"></div>
</div>

<div id="load-scrim">
  <div id="load-spinner" x-mojo-element="Spinner"></div>
</div>