<div id="palm-dialog-content" class="palm-dialog-content">
  <div class="palm-dialog-title" id="dialog-title"></div>

  <div class="palm-dialog-separator" style="margin-bottom: 5px"></div>
  
  <div class="palm-row">
    <div class="textfield-group palm-row-wrapper" x-mojo-focus-highlight="true">
      <div class="title">
        <div id="name" name="name" x-mojo-element="TextField"></div>
      </div>  
    </div>
  </div>
</div>

<div class="palm-dialog-buttons">
  <div id="save_button" x-mojo-element="Button"></div>
  <div id="cancel_button" x-mojo-element="Button"></div>
</div>
