<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="title left">#{about}</div>
  </div>
</div>

<div style="margin: 10px 0 15px 20px;">#{title}<br />#{from}</div>

<div class="palm-group">
  <div class="palm-group-title">#{support}</div>
  <div class="palm-list">

    <div class="palm-row first" id="website" x-mojo-tap-highlight="momentary">
      <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
        <div class="title truncating-text">
          #{appsite}
        </div>
      </div>
    </div>
  
    <div class="palm-row" id="support" x-mojo-tap-highlight="momentary">
      <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
        <div class="title truncating-text">
          #{website}
        </div>
      </div>
    </div>
  
    <div class="palm-row last" id="email" x-mojo-tap-highlight="momentary">
      <div class="palm-row-wrapper" x-mojo-focus-highlight="true">
        <div class="title truncating-text">
          #{mail}
        </div>
      </div>
    </div>
  
  </div>

</div>
<div style="margin: 10px 0 15px 20px; font-size: 13px;">#{copy}</div>