<div class="palm-list">
  
  <div class="palm-row">
    <div class="palm-row-wrapper">
      <div class="label number">#{totalEvents}</div>
      <div class="title">#{translation.totalevents}</div>
    </div>
  </div>
  
  <div class="palm-row">
    <div class="palm-row-wrapper">
      <div class="label number">#{uniqueEvents}</div>
      <div class="title">#{translation.uniqueevents}</div>
    </div>
  </div>
  
  <div class="palm-row">
    <div class="palm-row-wrapper">
      <div class="label number">#{eventValue}</div>
      <div class="title">#{translation.value}</div>
    </div>
  </div>
  
</div>