<div id="palm-dialog-content" class="palm-dialog-content">
  <div class="palm-dialog-title">Select a range</div>
  
  <div class="palm-dialog-separator" style="margin-bottom: 5px"></div>
  
  <div class="palm-row">
    <div class="textfield-group palm-row-wrapper" x-mojo-focus-highlight="true">
      <div class="title date-title">
        <div class="label">From</div>
        <div x-mojo-element="DatePicker" id="dateFrom" name="dateFrom"></div>
      </div>  
    </div>
  </div>
  
  <div class="palm-row">
    <div class="textfield-group palm-row-wrapper" x-mojo-focus-highlight="true">
      <div class="title date-title">
        <div class="label">To</div>
        <div x-mojo-element="DatePicker" id="dateTo" name="dateTo"></div>
      </div>
    </div>
  </div>
  
  <div class="palm-dialog-buttons">
    <div id="ok_button" x-mojo-element="Button"></div>
    <div id="cancel_button" x-mojo-element="Button"></div>
  </div>
</div>