<div class="palm-list">
  
  <div class="palm-row">
    <div class="palm-row-wrapper">
      <div class="label number">#{visits}</div>
      <div class="title">#{translation.visits}</div>
    </div>
  </div>
  
  <div class="palm-row">
    <div class="palm-row-wrapper">
      <div class="label number">#{pageview}</div>
      <div class="title">#{translation.pageviews}</div>
    </div>
  </div>
  
  <div class="palm-row">
    <div class="palm-row-wrapper">
      <div class="label number">#{impressions}</div>
      <div class="title">#{translation.impressions}</div>
    </div>
  </div>
  
  <div class="palm-row">
    <div class="palm-row-wrapper">
      <div class="label number">#{adClicks}</div>
      <div class="title">#{translation.coa}</div>
    </div>
  </div>
  
  <div class="palm-row">
    <div class="palm-row-wrapper">
      <div class="label number">#{cpc}</div>
      <div class="title">#{translation.cpc}</div>
    </div>
  </div>
  
  <div class="palm-row">
    <div class="palm-row-wrapper">
      <div class="label number">#{ctr}</div>
      <div class="title">#{translation.ctr}</div>
    </div>
  </div>
  
  <div class="palm-row">
    <div class="palm-row-wrapper">
      <div class="label number">#{time}</div>
      <div class="title">#{translation.timeonpage}</div>
    </div>
  </div>
  
  <div class="palm-row">
    <div class="palm-row-wrapper">
      <div class="label number">#{bounce}</div>
      <div class="title">#{translation.bouncerate}</div>
    </div>
  </div>
  
  <div class="palm-row">
    <div class="palm-row-wrapper">
      <div class="label number">#{newVisits}</div>
      <div class="title">#{translation.newvisits}</div>
    </div>
  </div>
  
</div>